
#splashScreen
{
    margin: 0 auto;
    text-align:center;
}

.splashText
{
    color: black;
    font-size: 28px;
    text-shadow: 5px 3px 5px #F78429;
}

table
{
    text-align:center;
    margin: 0 auto;
}
